@import "Tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1560px;
}
/* shared styles  */

.orange {
  color: #e95a08;
}

.gray {
  color: rgba(0, 0, 0, 0.5);
}

/* nav bar styles  */
.navbar {
  margin-left: 150px;
  margin-right: 150px;
  max-width: 1200px;
}

.nav-link {
  margin-left: 48px;
}

.nav-item {
  margin-top: 63px;
}

.logo {
  margin-top: 24px;
  width: 135px;
  height: 82px;
}

/* banner section styles */
.banner {
  max-width: 1200px;
  margin: 230px auto 0px auto;
  margin-left: 150px;
  margin-right: 150px;
  padding: 0px;
  justify-content: space-between;
  width: 100%;
}
.banner-info {
  padding-top: 220px;
  flex: 1;
}

.banner-title {
  font-family: "noto serif", serif;
  font-weight: bold;
  font-size: 65px;
}

.banner-img {
  margin-top: 100px;
  width: 650px;
  height: auto;
  flex-shrink: 0;
}
.banner-img img {
  width: 100%;
  height: auto;
}

/* plants and card section  */
.plants {
  margin-left: 150px;
  margin-right: 150px;
  max-width: 1200px;
  margin-top: 100px;
}
.palnt-title {
  font-family: "noto serif", serif;
  font-size: 50px;
  font-weight: bold;
}
.plant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plant-description {
  font-family: "inter" serif;
  font-size: 22px;
}

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  /* margin-left: 150px;
  margin-right: 150px; */
  gap: 30px;
}
.card {
  max-width: 270px;
  height: auto;
  text-align: center;
}

.card-title {
  font-size: 22px;
  font-weight: 500;
  font-family: "inter", serif;
  margin-top: 30px;
}

.card-price {
  font-size: 22px;
  font-weight: bold;
  font-family: "inter", serif;
  margin-top: 20px;
}

.card-btn {
  font-size: 16px;
  font-weight: 600;
  font-family: "inter", serif;
  color: white;
  background-color: #e95a08;
  width: 100%;
  height: 50px;

  margin-top: 30px;
}

/* flowers lover section */

.lover {
  max-width: 1200px;
  margin-left: 150px;
  margin-right: 150px;
}

.love-info {
  margin-top: 50px;
  height: 520px;
  width: 540px;
}
.lover-title {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  font-family: "noto serif", serif;
}

.flower-img {
}

.love-des {
  margin-top: 20px;
  font-size: 22px;
  font-family: "inter", serif;
}

/* challenge */
.trusted {
  position: relative;
  margin-top: 200px;
  height: auto;
}

.challenge {
  position: absolute;
  top: -130px;
  left: 53%;
  transform: translateX(-86%);
  width: 286px;
  z-index: 10;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translateX(-86%) rotate(0deg);
  }
  100% {
    transform: translateX(-86%) rotate(360deg);
  }
}

/* deals section */

.deals-description {
  font-family: "inter", serif;
  font-size: 22px;
  text-align: center;
  width: 70%;
}

.deals-title {
  font-family: "noto serif" serif;
  font-size: 50px;
  font-weight: bold;
}

.latest-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-top: 140px;
  margin-left: 140px;
}

/* discount section */
.discount1 {
  background-image: url(assets/deal-bloom.png);

  background-repeat: no-repeat;
  width: 370px;
  height: 201px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount2 {
  background-image: url(assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 201px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.discount3 {
  background-image: url(assets/deal-zabo.png);
  width: 755px;
  height: 425px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* grid-column: 2;
  grid-row: 1 / 3; */
}

.discount {
  display: grid;
  grid-template-columns: repeat(3, 2fr);

  margin-left: 200px;
  margin-top: 120px;
}
.discount-title1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "noto serif", serif;
}

.discount-title2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "noto serif", serif;
}
.discount-title3 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: "noto serif", serif;
}
.shop-now {
  color: white;
}

/* join section */
.join {
  background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  margin-top: 120px;
  background-size: cover;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub {
  font-size: 16px;
  font-weight: 600;
  font-family: "inter", serif;
  color: white;
  background-color: #e95a08;
  width: 190px;
  height: 50px;
}

.input {
  width: 645px;
  height: 50px;
  background-color: white;
  padding-left: 20px;
}

.join-title {
  font-family: "noto serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.input-btn {
  display: flex;
  margin-top: 25px;
}

/* footer */
.footer-container {
  max-height: 1120px;
  max-height: 250px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 70px;
  padding-bottom: 70px;
}
/* responsive mobile  */

/* nav  */
@media screen and (max-width: 656px) {
  .hide {
    display: none;
  }

  .logo img {
    width: 70px;
    height: auto;
  }

  .navbar {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 20px 0px 20px;
  }

  .nav-item {
    margin-top: 40px;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    align-items: flex-start;
    margin-top: 50px;
    overflow-x: hidden;
    margin-left: -10px;
  }
  .banner-img {
    margin-top: 10px;
    width: 100vw;
    height: 245px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0;
    display: flex;
    justify-content: flex-end;
  }
  .banner-img img {
    width: 393px;
    max-width: none;
    height: auto;
    object-fit: contain;
  }

  .banner-title {
    font-size: 25px;
    width: 60%;
  }
  .banner-description {
    font-size: 14px;
    max-width: 100%;
  }
  .banner-info {
    padding: 20px 26px 0px 26px;
    width: 100%;
  }

  .cart {
    margin-left: 10px;
  }

  /* card section */
  .palnt-title {
    font-size: 24px;
    padding: 0px;
  }
  .plant-description {
    font-size: 14px;
    padding: 0px 16px 0px 16px;
  }

  .cards {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .plants {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 40px;
    max-width: 100%;
  }
  .card {
    width: 100%;
    padding: 0px 10px;
  }

  .card-btn {
    width: 100%;
  }

  /* lover section */
  .challenge {
    display: none;
  }

  .lover {
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    gap: 7px;
  }

  .flower-img {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }

  .lover-title {
    font-size: 30px;
    width: 100%;
  }

  .list-disc {
    font-size: 14px;
    margin: 0px;
    padding-left: 16px;
  }

  .love-info {
    width: 100%;
    height: auto;
    margin-left: 0 auto;
  }

  .love-des {
    font-size: 20px;
    width: 100%;
  }

  /* deals section */
  .deals-title {
    font-size: 35px;
    margin-left: 27px;
  }
  .deals-description {
    font-size: 18px;

    width: 90%;
  }

  .latest-deals {
    padding: 0px 28px 0px 28px;
    margin-top: 200px;
    margin-left: 20px;
  }

  .discount {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px auto;

    width: 100%;
    margin-top: 50px;
  }

  .discount1 {
    margin-left: 15px;
    width: 330px;
    margin-right: 30px;
  }
  .discount2 {
    margin-left: 15px;
    width: 330px;
    margin-right: 30px;
  }

  .discount3 {
    width: 330px;
    height: 201px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 15px;
  }

  .discount-title3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "noto serif", serif;
  }

  .shop3 {
    font-size: 16px;
  }

  /* join section */
  .input {
    width: 218px;
  }
  .sub {
    width: 103px;
  }

  .join {
    height: 275px;
    width: 100%;
    margin-top: 40px;
  }

  .join-title {
    font-size: 30px;
  }

  /* footer section */

  .footer-container {
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
    margin-bottom: 600px;
  }
  .links {
    flex-direction: column;
    gap: 20px;
  }
  .items {
    margin-bottom: 50px;
  }
}
